
<div class="d-flex justify-content-center mt-5">
    <div class="p-2 rounded mb-2" id="footer">
        <div class="d-flex justify-content-center gap-1">
            <div [ngClass]="{'active': selectedCategory == 0}">
                <div id="bookmark-icon" class="footer-icon d-flex justify-content-center align-items-center rounded" (click)="selectCategory(0)" routerLink="">
                    <i class="bi bi-bookmarks"></i>
                </div>
                <div class="pt-1 bg-light rounded mt-1 select w-50 mx-auto"></div>
            </div>
            <div [ngClass]="{'active': selectedCategory == 1}">
                <div id="todo-icon" class="footer-icon d-flex justify-content-center align-items-center rounded" (click)="selectCategory(1)" routerLink="/todo">
                    <i class="bi bi-check2"></i>
                </div>
                <div class="pt-1 bg-light rounded mt-1 select w-50 mx-auto"></div>
            </div>
            <div [ngClass]="{'active': selectedCategory == 2}">
                <div id="note-icon" class="footer-icon d-flex justify-content-center align-items-center rounded" (click)="selectCategory(2)" routerLink="/note">
                    <i class="bi bi-sticky"></i>
                </div>
                <div class="pt-1 bg-light rounded mt-1 select w-50 mx-auto"></div>
            </div>
        </div>
    </div>

</div>